// Заголовки, загальні БЕМ блоки та інше...
.none {
   display: none !important;
}

.title {
   font-family: 'Josefin Sans'; 
   font-weight: 600;
   // font-size: rem(88);
   @include adaptiveValue("font-size", 88, 58);
   line-height: 113.63%; /* 100/88 */
   text-transform: capitalize;
   color: #020953;
}

.subtitle {
   font-family: 'Roboto'; 
   font-weight: 400;
   // font-size: rem(32);
   @include adaptiveValue("font-size", 32, 24);
   // line-height: 312.5%; /* 100/32 */
   @include adaptiveValue("line-height", 100, 32);
   // text-transform: lowercase;
   color: #060A3F;
}
 /* +++++++++++++++++++++++++++++++++++++ */

.title-footer {
   font-family: 'Josefin Sans';
   font-size: rem(25);
   // line-height: rem(100); /* 100/25 */
   @include adaptiveValue("line-height", 100, 50);
   text-transform: capitalize;
   color: #FFFFFF;
}

/* ---------------------------------- */
// %animate {
//    // * анимация
//    transform: translate(0, rem(100));
//    opacity: 0;
//    transition: all 1s;
//    .previous-section & {
//       transform: translate(0, rem(-100));
//    }
//    .next-section & {
//       transform: translate(0, rem(100));
//    }
//    // * анимация
//    .active-section & {
//       // transition: all 1s ease 0.8s;
//       transform: translate(0, 0);
//       opacity: 1;
//    }
// }