//====================================================================================================
.header {
   // min-height: rem(112);
   // background-color: transparent;   
   // background: rgb(6, 20, 57);
   padding: rem(56) 0;  
   @include adaptiveValue("padding-top", 56, 10);  
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 50;
   &._header-scroll {
      position: fixed;
      top: -200%;
      background-color: rgb(6, 20, 57, 0.9);
   }
   &._header-show {
      transition: top 0.3s ease 0s;
      top: 0;
      padding: 0;
   }  
   // .header__container
   &__container {
   }
   &__inner {
      max-width: rem(1340);
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;
   }
   // .header__logo
   &__logo {
      font-family: 'Righteous';
      font-weight: 400;
      font-size: rem(32);
      line-height: 312.5%; /* 100/32 */
      text-transform: capitalize;
      color: #FFFFFF;
      padding-right: rem(24);
      height: auto;
      z-index: 5;
      span {
         color: rgba(255, 200, 0, 1)
      }
   }
   // .header__menu-top
   &__menu-top {
      justify-content: center;
   }
   // .header__btn
   &__btn {
      // padding: rem(20) rem(24);
      display: flex;
      align-items: center;
      padding: rem(12.5) 0;
      font-size: rem(25);
      color: #FFC800;
      background: transparent;
      z-index: 5;
      transition: all 0.3s ease;
      &:hover {
         background-color: #FFC800;
         padding: rem(12.5) 0;
         color: #ffffff;
      }
      @media (max-width: $tablet) {
         display: none;
      }
   }
}

.menu-top {
}

.menu {
   // .menu__body
   &__body {
      position: relative;
      z-index: 5;
   }
   // .menu__list
   &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      @include adaptiveValue("column-gap", 110, 40, 2, 1920, 992);
      row-gap: rem(5);
      @include adaptiveValue("padding-left", 56, 30, 2, 1920, 992);
      @include adaptiveValue("padding-right", 81, 30, 2, 1920, 992);
      @media (max-width: $mobile) {
         padding: 0 rem(20);
      }
   }
   // .menu__item
   &__item {
   }
   // .menu__link
   &__link {
      font-family: 'Roboto';
      font-weight: 400;
      @include adaptiveValue("font-size", 25, 22, 2, 1920, 992);
      line-height: 200%; /* 100/25 */
      display: inline-block;
      text-transform: uppercase;
      color: #ffffff;
      position: relative;
      &::after {
         position: absolute;
         content: "";
         height: rem(2.0);
         background-color:  #ffffff;
         bottom: rem(6);
         left: 50%;
         width: 0;
         transition: all 0.3s;
      }
      &:hover::after {
         left: 0;
         width: 100%;
      }
   }
   // .menu__icon
   &__icon {
   }
}

.icon-menu {
   // .icon-menu__line
   &__line {
   }
}

/* --------------------------------- */
.icon-menu {
   display: none;
   // .icon-menu__line
   &__line {
   }
}

@media (max-width: $tablet) {
   .menu__body {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      transition: left 0.3s;
      background: rgb(6, 20, 57); // ? цвет шторки
      padding: rem(170) rem(30) rem(20) rem(50);
      overflow: auto;
      z-index: 1;
   }

   .menu-open .menu__body {
      left: 0;
   }

   .menu__list {
      flex-direction: column;
      gap: rem(35);
   }

   .menu__link {
      font-size: rem(30);
   }

   .icon-menu {
      display: block;
      position: relative;
      z-index: 5;
      width: rem(30);
      height: rem(18);
   }

   /* Гамбургер */
   .icon-menu__line,
   .icon-menu::before,
   .icon-menu::after {
      content: "";
      position: absolute;
      background-color:  #fff;
      height: rem(2);
      width: 100%;
      left: 0;
      transition: all 0.3s;
   }

   /* верхняя линия */
   .icon-menu::before {
      top: 0;
   }

   /* нижняя линия */
   .icon-menu::after {
      bottom: 0;
   }

   /* средняя линия */
   .icon-menu__line {
      top: calc(50% - 0.0625rem);
   }

   .menu-open .icon-menu::before {
      top: calc(50% - rem(1));
      transform: rotate(-45deg);
   }

   .menu-open .icon-menu::after {
      bottom: calc(50% - rem(1));
      transform: rotate(45deg);
   }

   .menu-open .icon-menu__line {
      left: 50%;
      width: 0;
   }
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
