//====================================================================================================
.page {
   // .page__about
   &__about {
   }
   // .page__services
   &__services {
   }
   // .page__newsletter
   &__newsletter {
   }
   // .page__reviews
   &__reviews {
   }
   // .page__destination
   &__destination {
   }
}
//====================================================================================================
//====================================================================================================
.first-page {
   position: relative;
   &__image-ibg {
      position: relative;
      height: rem(1358); /* 729/1368 */
      // width: 100%;
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
      }
   }
   // .first-page__container
   &__container {
      position: relative;
   }
   // .first-page__content
   &__content {
      position: absolute;
      // top: rem(-762);
      bottom: rem(692);
      left: rem(24);
      max-width: rem(1030);
   }
   // .first-page__title
   &__title {
      font-family: "Josefin Sans";
      font-weight: 600;
      @include adaptiveValue("font-size", 88, 50);
      line-height: 114%; /* 100/88 */
      color: #ffffff;
      span {
         color: var(--bg-accent);
      }
      &:not(:last-child) {
         margin-bottom: rem(18);
      }
   }
   // .first-page__text
   &__text {
      font-family: "Roboto";
      font-weight: 300;
      @include adaptiveValue("font-size", 40, 26);
      line-height: 250%; /* 100/88 */
      color: #ffffff;
   }
}
//========================================================================================

//=== start about ======================================================================
.about-page {
   @include adaptiveValue("padding-top", 128, 40);
   @include adaptiveValue("padding-bottom", 102, 30);
   // .about-page__container
   &__container {
   }
   // .about-page__inner
   &__inner {
   }
   // .about-page__row
   &__row {
      display: flex;
      align-items: center;
      gap: rem(53);
      @media (max-width: $tablet) {
         display: block;
      }
   }
   // .about-page__content
   &__content {
      flex: 0 1 58%;
      @media (max-width: $tablet) {
         &:not(:last-child) {
            margin-bottom: rem(15);
         }
      }
   }
   // .about-page__title
   &__title {
      @media (max-width: $tablet) {
         &:not(:last-child) {
            margin-bottom: rem(10);
         }
      }
   }
   // .about-page__subtitle
   &__subtitle {
      @media (max-width: $tablet) {
         &:not(:last-child) {
            margin-bottom: rem(15);
         }
      }
   }
   // .about-page__text
   &__text {
      max-width: rem(728);
      font-family: "Roboto";
      font-weight: 300;
      font-size: rem(32);
      @include adaptiveValue("font-size", 32, 22);
      // line-height: 165.63%; /* 53/32 */
      @include adaptiveValue("line-height", 53, 32);
      text-transform: capitalize;
      color: rgba(6, 10, 64, 0.5);
      // @media (max-width:$tablet){
      //    &:not(:last-child) {margin-bottom: rem(15);}
      // }
   }
   // .about-page__btn
   &__btn {
      margin-top: rem(15);
   }
   // .about-page__image
   &__image {
      flex: 0 1 42%;
      width: 100%;
      img {
         max-width: 100%;
         width: 100%;
         // background: url(ebadur-rehman-kaium-oRsxtzxVmsY-unsplash.jpg);
         border-radius: rem(61) 0 rem(89);
      }
   }
}

//=== finish about =======================================================================
//=== start servisec =========================================================================
.services-page {
   background: #ffffff;
   @include adaptiveValue("padding-top", 102, 50);
   @include adaptiveValue("padding-bottom", 102, 10);
   position: relative;
   z-index: 2;
   // .services-page__container
   &__container {
   }
   // .services-page__title
   &__title {
   }
   // .services-page__subtitle
   &__subtitle {
      &:not(:last-child) {
         margin-bottom: rem(70);
      }
   }
   // .services-page__row
   &__row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   // .services-page__column
   &__column {
      padding: 0 rem(10);
      flex: 0 1 100%;
      margin-bottom: rem(30);
      @media (min-width: rem(575)) {
         flex: 0 1 50%;
      }
      @media (min-width: $tablet) {
         flex: 0 1 33.333%;
      }
      @media (min-width: rem(1200)) {
         flex: 0 1 25%;
      }
   }
   // .services-page__item
   &__item {
      // max-width: rem(290);
      min-width: rem(250);
      height: 100%; // чтобы карточки были одной высоты независимо от количества текста
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      // background: rgb(221, 254, 171);
   }
   // .services-page__box-image
   &__box-image {
      width: rem(250);
      height: rem(250);
      border: rem(20) solid rgba(255, 200, 0, 0.25);
      border-radius: 50%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      &:not(:last-child) {
         margin-bottom: rem(40);
      }
   }
   // .services-page__image
   &__image {
      width: rem(210);
      height: rem(210);
      background-color: #ffc800;
      border-radius: 50%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      img {
         // background-color: #FFC800;
         width: 100%;
         max-width: 100%;
         // height: 100%;
         width: rem(125);
         height: rem(125);
         object-fit: cover;
      }
   }
   // .services-page__name
   &__name {
      font-family: "Josefin Sans";
      font-weight: 600;
      font-size: rem(35);
      @include adaptiveValue("font-size", 35, 32);
      line-height: 100%; /* 26/35 */
      text-transform: uppercase;
      color: #040e27;
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
   }
   // .services-page__desc
   &__desc {
      max-width: rem(280);
      font-family: "Roboto";
      font-weight: 300;
      font-size: rem(24);
      line-height: 108%; /* 26/24 */
      // text-transform: lowercase;
      color: rgba(0, 0, 0, 0.5);
   }
}

//=== finish servisec =======================================================================
//=== start destination =========================================================================
.destination-page {
   @include adaptiveValue("padding-top", 100, 30);
   @include adaptiveValue("padding-bottom", 100, 30);
   // .proba-rows__container
   &__container {
   }
   // .proba-rows__title
   &__title {
   }
   // .proba-rows__subtitle
   &__subtitle {
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
   }
   // .proba-rows__inner-slider
   &__slider-image-rows {
      height: 75.3%;
      max-width: 1340px;
      margin: 0 auto;
      overflow: hidden;
      flex: 1 1 auto;
      min-width: 0;
      background: #d3fcb6;
      // padding: 0 0 50px 0;
   }
}

.slider-image-rows {
   padding-bottom: rem(60);
   background-color: #bcbcbc;
   // margin: 0 auto;
   // text-align: center;
   // position: relative;
   @media (min-width: $tablet) {
      // ? два ряда
      @include adaptiveValue("height", 1008, 750, 2, 1340, 992);
   }
   @media (max-width: rem(558)) {
      padding-bottom: rem(100);
   }
   @media (max-width: $tablet) {
   }
   // .slider-image-rows__slider
   &__slider {
   }
   // .slider-image-rows__wrapper
   &__wrapper {
      // padding-bottom: rem(56);
   }
   // .slider-image-rows__slide
   &__slide {
      @media (min-width: $tablet) {
         // ? два ряда
         height: calc((100% - 30px) / 2) !important;
         overflow: hidden;
      }
   }
   // .slider-image-rows__image
   &__image-ibg {
      padding-bottom: 110.86%;
      text-align: center;
      position: relative;
      transition: transform 0.3s;
      img {
         max-width: 100%;
      }
      &:hover {
         transform: scale(1.03);
      }
   }
   // .slider-image-rows__content
   &__content {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0%);
      background: linear-gradient(180deg, rgba(6, 10, 64, 0) 17.69%, rgba(6, 10, 64, 0.75) 84.92%);
      width: 100%;
      text-align: center;
      padding-top: 29%;
      padding-bottom: 7%;
   }
   // .slider-image-rows__price
   &__price {
      font-family: "Roboto";
      font-weight: 300;
      font-size: rem(24);
      line-height: rem(36); /* 44/24 */
      text-transform: capitalize;
      color: #ffc800;
   }
   // .slider-image-rows__name
   &__name {
      font-family: "Roboto";
      font-weight: 300;
      font-size: rem(24);
      line-height: rem(32); /* 44/24 */
      text-transform: capitalize;
      color: #ffffff;
   }
}

.slider-image-rows .swiper-pagination {
   // margin-top: rem(10);
   // position: relative;
   bottom: 10px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   row-gap: rem(5);
   // max-width: rem(550);
   // background: #946464;
}

.slider-image-rows .swiper-pagination-bullet {
   width: 36px;
   height: 36px;
   text-align: center;
   line-height: 36px;
   font-size: 24px;
   color: #040e27;
   opacity: 1;
   // background: rgba(0, 0, 0, 0.2);
   background: #fff;
}

.slider-image-rows .swiper-pagination-bullet-active {
   color: blue;
   background: yellow;
}

.slider-image-rows .swiper-button-prev,
.slider-image-rows .swiper-button-next {
   color: rgb(0, 255, 13);
   font-size: 80px;
   font-weight: 700;
}

// .swiper-horizontal > .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
//    width: 36px;
//    height: 36px;
//    text-align: center;
//    font-family: 'Roboto';
//    font-size: rem(24);
//    line-height: rem(100);
//    color: #040E27;
//    opacity: 1;
//    background: transparent;
// }
// .swiper-horizontal > .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet .swiper-pagination-bullet-active {
//    background: #FFC800;
// }
//
//=== finish destination =======================================================================
//=== start newsletter ===================================================================
.newsletter {
   @include adaptiveValue("padding-top", 90, 40);
   @include adaptiveValue("padding-bottom", 100, 40);
   position: relative;
   min-height: rem(233);
   // .newsletter__image-ibg
   &__image-ibg {
      min-height: rem(233);
      position: relative;
      padding-bottom: 12.14%;
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
      }
   }
   // .newsletter__container
   &__container {
      position: absolute;
      // background: rgba(4, 14, 39, 0.65);
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
   // .newsletter__inner
   &__inner {
      padding: rem(30) 0;
      @media (max-width: $tablet) {
         padding-top: rem(20);
      }
   }
   // .newsletter__row
   &__row {
      display: flex;
      align-items: center;
      @media (max-width: $tablet) {
         display: block;
      }
   }
   // .newsletter__column
   &__column {
      position: relative;
      flex: 0 1 50%;
   }
   // .newsletter__content
   &__content {
      max-width: rem(512);
      margin-right: rem(20);
      @media (max-width: $tablet) {
         margin-bottom: rem(20);
         max-width: 100%;
         margin-right: 0;
      }
   }
   // .newsletter__title
   &__title {
      font-family: "Roboto";
      font-size: rem(35);
      @include adaptiveValue("font-size", 35, 28);
      line-height: rem(100); /* 100/35 */
      @include adaptiveValue("line-height", 100, 30);
      text-transform: capitalize;
      color: #ffffff;
      @media (max-width: $mobile) {
         @include adaptiveValue("margin-bottom", 0, 15);
      }
   }
   // .newsletter__subtitle
   &__subtitle {
      font-family: "Roboto";
      font-size: rem(24);
      @include adaptiveValue("font-size", 24, 18);
      line-height: 112%; /* 27/24 */
      text-transform: lowercase;
      color: #ffffff;
   }
   // .newsletter__form
   &__form {
      flex: 0 1 50%;
   }
}

.form {
   &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   // .form__item
   &__item {
   }
   // .form__input
   &__input {
      font-family: "Roboto";
      font-weight: 300;
      font-size: rem(20);
      line-height: 135%; /* 27/20 */
      text-transform: lowercase;
      color: rgba(0, 0, 0, 0.5);
      background-color: #ffffff;
      border-radius: rem(8);
      width: 100%;
      padding: rem(19) rem(24) rem(20) rem(24);
      @media (max-width: $mobile) {
         padding: rem(15) rem(25) rem(15) rem(25);
      }
      @media (max-width: $mobileSmall) {
         padding: rem(10) rem(15) rem(10) rem(15);
      }
      &::placeholder {
         color: #828282;
         font-size: rem(20);
         text-transform: capitalize;
         padding: rem(19) rem(24) rem(20) rem(24);
      }
      &:focus {
         color: #4f4f4f;
         background-color: #fff;
         border-color: #bdbdbd;
         outline: 0;
         box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
      }
   }
   // .form__buttons
   &__buttons {
   }
   // .form__button
   &__button {
      display: inline-block;
      font-family: "Roboto";
      font-weight: 600;
      font-size: rem(20);
      line-height: 135%; /* 27/20 */
      text-transform: capitalize;
      color: #040e27;
      padding: rem(19) rem(41) rem(20) rem(39);
      background: #ffc800;
      border-radius: 8px;
      margin-left: rem(10);
      transition: all 0.5s;
      &:hover {
         opacity: 0.8;
      }
      @media (max-width: $mobile) {
         padding: rem(15) rem(25) rem(15) rem(25);
      }
      @media (max-width: $mobileSmall) {
         padding: rem(10) rem(15) rem(10) rem(15);
      }
   }
   &__error {
      padding: rem(5) rem(18) rem(0) rem(18);
      color: red;
      font-size: rem(12);
      font-weight: 600;
   }
}

//=== finish newsletter =======================================================================
//=== start reviews ========================================================================
.reviews-page {
   @include adaptiveValue("padding-top", 100, 50);
   @include adaptiveValue("padding-bottom", 90, 40);
   // background: #d3ede596;
   // text-align: center;
   // .reviews-page__container
   &__container {
   }
   // .reviews-page__title
   &__title {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 32, 12);
      }
   }
   // .reviews-page__subtitle
   &__subtitle {
      max-width: rem(733);
      font-weight: 300;
      font-size: rem(34);
      @include adaptiveValue("font-size", 34, 26);
      line-height: 115%; /* 39/34 */
      color: #040e27;
      // text-transform: uppercase;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 84, 30);
      }
   }
   // .reviews-page__content
   &__content {
   }
}

.content {
   background: rgba(255, 200, 0, 0.15);
   border-radius: rem(51);
   // padding: rem(77) rem(96) rem(87) rem(91);
   @include adaptiveValue("padding-top", 77, 35);
   @include adaptiveValue("padding-bottom", 87, 40);
   @include adaptiveValue("padding-left", 96, 35, 2, 1340, 992);
   @include adaptiveValue("padding-right", 91, 35, 2, 1340, 992);
   // .content__row
   &__row {
      display: flex;
      &:not(:last-child) {
         // margin-bottom: rem(80);
         @include adaptiveValue("margin-bottom", 80, 20);
      }
      column-gap: rem(25);
      @media (max-width: $tablet) {
         display: block;
         padding: 0 rem(30);
      }
   }
   // .content__reviews
   &__reviews {
      // background: #f1d5fb;
      flex: 0 1 42.5%;
      @include adaptiveValue("padding-left", 69, 0, 2, 1340, 992);
      // @include adaptiveValue("padding-right", 20, 0,  2, 1340, 992);
      @media (max-width: $tablet) {
         margin-bottom: rem(40);
      }
   }
   // .content__human
   &__human {
      display: flex;
      align-items: center;
      column-gap: rem(35);
      &:not(:last-child) {
         margin-bottom: rem(39);
      }
   }
   // .content__avatar
   &__avatar {
      width: rem(82);
      height: rem(82);
      border-radius: 50%;
      img {
         width: rem(82);
         height: rem(82);
         border-radius: 50%;
         object-fit: cover;
      }
   }
   // .content__body
   &__body {
      text-align: left;
   }
   // .content__name
   &__name {
      font-size: rem(34);
      font-weight: 500;
      line-height: 115%;
      text-transform: capitalize;
      color: #040e27;
   }
   // .content__age
   &__age {
      font-size: rem(34);
      font-weight: 300;
      line-height: 115%;
      text-transform: lowercase;
      color: #040e27;
   }
   // .content__tour-name
   &__tour-name {
      text-align: left;
      font-size: rem(34);
      font-weight: 300;
      line-height: 115%;
      text-transform: lowercase;
      color: #040e27;
      span {
         font-weight: 400;
         text-transform: capitalize;
      }
      &:not(:last-child) {
         margin-bottom: rem(24);
      }
   }
   // .content__tour-images
   &__tour-images {
      display: flex;
      column-gap: rem(19);
   }
   // .content__image
   &__image {
      width: rem(166);
      height: rem(144);
      img {
         width: 100%;
         object-fit: cover;
      }
   }
   // .content__rating
   &__rating {
      // background: #d5e4fb;
      flex: 0 1 57.5%;
   }
}

.content {
   // .content__box-text
   &__box-text {
      display: flex;
      column-gap: rem(20);
      justify-content: space-between;
   }
   // .content__quotes
   &__quotes {
      flex: 0 1 11.25%;
      // width: rem(104);
      img {
         max-width: 100%;
      }
      // .content__quotes_up
      &_up {
      }
      // .content__quotes_down
      &_down {
         transform: rotate(-180deg);
      }
   }
   // .content__text
   &__text {
      flex: 0 1 77.5%;
      padding-top: rem(32);
      display: inline-block;
      // max-width: rem(894);
      font-weight: 300;
      font-size: rem(26);
      @include adaptiveValue("font-size", 26, 18);
      line-height: 127%; /* 33/26 */
      text-align: justify;
      text-transform: lowercase;
      color: #040e27;
   }
   // .content__rating
   &__rating {
   }
}
//===================================================================
.rating {
   // .rating__values
   &__values {
   }
   // .rating__overall-rating
   &__overall-rating {
      font-size: rem(32);
      @include adaptiveValue("font-size", 32, 28, 2, 1340, 992);
      line-height: 122%;
      color: #040e27;
      margin-right: rem(25);
      span {
         display: inline-flex;
         width: rem(62);
         height: rem(62);
         border-radius: 50%;
         background: #ffc800;
         align-items: center;
         justify-content: center;
         @media (max-width: $mobile) {
            @include adaptiveValue("font-size", 32, 26, 2, 768, 320);
         }
      }
      @media (max-width: $mobile) {
         @include adaptiveValue("font-size", 32, 26, 2, 768, 320);
      }
   }
}
.values-rating {
   &:not(:last-child) {
      margin-bottom: rem(30);
   }
   @media (max-width: rem(620)) {
      &:not(:last-child) {
         margin-bottom: rem(5);
      }
   }
   // .values-rating__item
   &__item {
      &:not(:last-child) {
         margin-bottom: rem(45);
      }
      @media (max-width: rem(620)) {
         &:not(:last-child) {
            margin-bottom: rem(5);
         }
      }
   }
   // .values-rating__row
   &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiveValue("gap", 31, 5, 2, 1340, 992);
      @media (max-width: rem(620)) {
         display: block;
      }
   }
   // .values-rating__label
   &__label {
      flex: 0 0 26%;
      font-size: rem(32);
      @include adaptiveValue("font-size", 32, 28, 2, 1340, 992);
      line-height: 122%;
      @media (max-width: rem(1300)) {
         flex: 0 1 28.5%;
      }
      @media (max-width: $mobile) {
         @include adaptiveValue("font-size", 32, 26, 2, 768, 320);
      }
      @media (max-width: rem(620)) {
         margin-bottom: rem(5);
      }
   }
   // .values-rating__line
   &__line {
      flex: 0 1 55%;
      background: #040e27;
      border-radius: rem(30);
      span {
         display: block;
         height: rem(10);
         background-color: #ffc800;
         border-radius: rem(30);
      }
      @media (max-width: rem(1300)) {
         flex: 0 1 45%;
      }
   }
   // .values-rating__value
   &__value {
      flex: 0 1 10%;
      color: #ffc800;
      font-size: rem(28);
      @include adaptiveValue("font-size", 28, 26, 2, 1340, 992);
      line-height: 139%;
      text-transform: lowercase;
      // margin-left: rem(31);
      @media (max-width: $mobile) {
         @include adaptiveValue("font-size", 28, 24, 2, 768, 320);
      }
      @media (max-width: rem(620)) {
         text-align: right;
         margin-top: rem(5);
      }
   }
}

//=== finish reviews =======================================================================
//=== start  =========================================================================
.trips-page {
   @include adaptiveValue("padding-top", 90, 40);
   @include adaptiveValue("padding-bottom", 190, 40);
   // .trips-page__container
   &__container {
   }
   // .trips-page__subtitle
   &__subtitle {
   }
   // .trips-page__title
   &__title {
      // text-align: center;
      &:not(:last-child) {
         margin-bottom: rem(53); /* 77/1270 */
      }
   }
   // .trips-page__row
   &__row {
      margin: 0 rem(-11.5);
      display: flex;
      flex-wrap: wrap;
      row-gap: rem(20);
   }
   // .trips-page__column
   &__column {
      flex: 0 1 33.333%;
      padding: rem(0) rem(15.5);
      @media (max-width: $tablet) {
         flex: 0 1 50%;
      }
      @media (max-width: $mobile) {
         flex: 0 1 100%;
      }
   }
   // .trips-page__item
   &__item {
   }
}

.card {
   // .card__image
   &__image {
      padding: 0px 0px 112% 0px;
      overflow: hidden;
      position: relative;
      transition: transform 0.3s;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         position: absolute;
         top: 0;
         left: 0;
      }
      &:hover {
         transform: scale(1.03);
      }
   }
   // .card__content
   &__content {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0%);
      background: linear-gradient(180deg, rgba(6, 10, 64, 0) 17.69%, rgba(6, 10, 64, 0.75) 84.92%);
      width: 100%;
      text-align: center;
      padding-top: 29%;
   }
   // .card__name
   &__name {
      font-family: "Roboto";
      font-weight: 300;
      font-size: rem(24);
      line-height: 417%; /* 44/24 */
      text-transform: capitalize;
      color: #ffffff;
   }
   // .card__body
   &__body {
      color: #fff;
      display: flex;
      align-items: center;
   }
   // .card__info
   &__info {
   }
   // .card__date
   &__date {
      font-family: "Roboto";
      font-weight: 300;
      @include adaptiveValue("font-size", 20, 18);
      line-height: 220%; /* 44/20 */
      text-transform: lowercase;
      color: rgba(4, 14, 39, 0.6);
      @media (max-width: rem(1100)) {
         // line-height: 110%; /* 32/16 */
      }
   }
   // .card__desc
   &__desc {
      font-family: "Roboto";
      @include adaptiveValue("font-size", 24, 20);
      line-height: 183%; /* 44/24 */
      text-transform: capitalize;
      color: #040e27;
   }
}
//=== finish trips =======================================================================
//===========================================================================
